<h1>Chi tiết sản phẩm</h1>

<div>
<img src="<%= product.url_image %>" width="200">
</div>

<p><strong>Tên:</strong> <%= product.name %></p>
<p><strong>Giá:</strong> <%= product.price %></p>
<p><strong>Tồn kho:</strong> <%= product.unit_in_stock %></p>

<br>
<a href="/">← Quay lại</a>
